<h1><%=t(:hello_world) %></h1>
<p><%= flash[:notice] %></p>
<hr>
<h3>-----</h3>
<strong><%=t(:price, {number: 10000, test: "hahaha"})%></strong>

<hr>
<strong>Time: <%= l Time.now, format: :short %></strong>

<hr>
<%= I18n.translate :missing, default: [:also_missing, 'Not here']%> <br/>
<%= I18n.t [:odd, :even], scope: 'errors.messages'%>
<hr>

<%= t :odd %>

<hr>
scope
<hr>
<%= I18n.translate :missing%> <br/>
<%= I18n.translate :missing, scope: :scope1%><br/>
<%= I18n.translate :missing, scope: [:scope2, :subscope]%><br/>
<%= I18n.translate :missing, scope: "scope2.subscope.finalscope" %><br/>
<%= t '.title' %><br/>
<hr>
plurals
<hr>
<%= t :test ,count: 1%><br>
<%= t :test ,count: 2%>
<hr>
<%= t ('.mytest')%>
<%= I18n.translate ('.mytest')%>
